.radio-group {
  display: flex;
  align-items: center;
}

.radio-group > * {
  width: 20%;
}
.radio-group > *:first-child {
  width: 0;
}
/* Customize the label (the container) */
.container-radio {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 5px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.check-line {
  width: 100%;
  height: 6px;
  background-color: black;
  transition-duration: 0.5s;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .radio {
  background-color: #2196F3;
}

.container-radio input:checked ~ .check-line {
  background-color: red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:before {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .radio:before {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .radio:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
}